<%- include("partials/header"); -%>


<%items.forEach(function(element){%>
  <form action="/cart" method="post">

<div class="row">

<div class="col-6">

  <div class="products">
    <button class="btn btn-lg" type="submit" name="clothing" value=<%=element.product%>><img style="height: 300px;" src=<%=element.img%>></button>
  </div>

</div>

<div class="col-6" style="padding-left: 10%;">

  <div class="products">
  <h5><%=element.name%></h5>
  <h5>Color: <%=element.color%></h5>
  <h5>Price: ₹ <%=element.price%></h5>
  <h5><%=element.description%></h5>
  </div>

</div>

  </div>
  </form>
<%});%>


<%- include("partials/footer.ejs") -%>
