<%- include("partials/header"); -%>

<h1 class="Congratulations">Congratulations!</h1>
<h3>Your order placed successfully</h3>
<h3>You will now recieve a verification call for your order.</h3>
<a class="btn btn-light btn-lg" href="/products">Shop More!</a>
<div class="success">
  <h3>Date: <%= date%></h3>
  <h3>Delivery Address: <%= address%></h3>
  <h3>Order number: <%= order%></h3>
</div>




<%- include("partials/footer.ejs") -%>
